.App {
  text-align: center;
}

.App-logo {
  height: 10vmin;
  pointer-events: none;
  filter: invert(1);
  margin: 1em 0 0;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.loading { 
  animation: App-loader-spin infinite 1s linear;
  height: 0;
  width: 0;
  display: block;
  position: absolute;
  left: calc(50% - 10px);
  border: 15px double #FFF;
  border-left-color: rgba(255,255,255,0.25);
  border-radius: 100%;
  margin-top: 1em;
}

.sr-only {
  display: block;
  visibility: hidden;
  height: 0;
  width: 0;
}

@keyframes App-loader-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
